body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.inner-width {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}

section {
    margin-bottom: 100px;
}

.orange-color {
    color: orange;
}

h1 {
    font-size: 55px;
    color: #575757;
}

h2 {
    font-size: 35px;
    color: #707070;
}

h3 {
    font-size: 22px;
}

.display-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-button {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(50deg, #FBA24F, #FF1E1E);
    padding: 12px 22px;
    border-radius: 25px;
    font-size: 14px;
}

.half-div {
    width: 50%;
}

.header-section-img {
    text-align: right;
}

.header-section-img img {
    width: 80%;
    margin-top: 20px;
    text-align: right;
}

.header-section h1 {
    margin-bottom: 25px;
}

.header-section p {
    margin-top: 0;
    margin-bottom: 35px;
    color: #828282;
}

.about-me {
    background-image: url(img/about-bg.png);
    background-repeat: no-repeat;
    padding-top: 40px;
}

.about-me-img {
    text-align: center;
}

.about-me-img img {
    width: 50%;
}

.about-me p {
    color: #18191F;
    margin-bottom: 70px;
}

.recipie-section {
    text-align: center;
}

.recipie-inner {
    margin-top: 80px;
}

.card {
    width: 28%;
    text-align: left;
    box-shadow: 2px 2px 50px rgb(172, 171, 171);
    padding: 14px 16px;
    border-radius: 20px;
}

.card img {
    width: 100%;
}