body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.orange-color {
    color: orange;
}

h1 {
    font-size: 55px;
    color: #575757;
}

h2 {
    font-size: 35px;
    color: #707070;
}

.display-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.half-div {
    width: 50%;
    margin-left: 5%;
}

.link-button {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(50deg, #FBA24F, #FF1E1E);
    padding: 12px 22px;
    border-radius: 25px;
    font-size: 14px;
}

section {
    margin-top: 10px;
    margin-bottom: 100px;
}

.header-section .half-div img {
    width: 80%;
}

.header-section h1 {
    margin-bottom: 25px;
}

.header-section p {
    margin-top: 0;
    margin-bottom: 35px;
    color: #828282;
}

.about-me {
    background-image: url(img/about-bg.png);
    background-repeat: no-repeat;
    padding-top: 40px;
}

.about-me-div-one {
    text-align: center;
}

.about-me .half-div img {
    width: 50%;
}

.about-me p {
    color: #18191F;
    margin-bottom: 70px;
}