body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.inner-width {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}

section {
    margin-bottom: 100px;
}

.orange-color {
    color: orange;
}

.gray-color {
    color: #5B5B5B;
}

h1 {
    font-size: 55px;
    color: #575757;
}

h2 {
    font-size: 35px;
    color: #707070;
}

h3 {
    font-size: 22px;
}

.display-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-button {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(50deg, #FBA24F, #FF1E1E);
    padding: 12px 22px;
    border-radius: 25px;
    font-size: 14px;
    box-shadow: 1px 1px 60px rgb(223, 221, 221);
}

.half-div {
    width: 50%;
}

.header-section-img {
    text-align: right;
}

.header-section-img img {
    width: 80%;
    margin-top: 20px;
    text-align: right;
}

.header-section h1 {
    margin-bottom: 25px;
}

.header-section p {
    margin-top: 0;
    margin-bottom: 35px;
    color: #828282;
}

.about-me {
    background-image: url(img/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
}

.about-me-img {
    text-align: center;
}

.about-me-img img {
    width: 50%;
}

.about-me p {
    color: #18191F;
    margin-bottom: 70px;
}

.recipie-section {
    text-align: center;
}

.recipie-inner {
    margin-top: 80px;
}

.card {
    width: 28%;
    text-align: left;
    box-shadow: 2px 2px 40px #d8d7d7;
    padding: 16px;
    border-radius: 20px;
}

.card img {
    width: 100%;
}

.counter-section {
    box-shadow: 2px 2px 50px #E5E5E5;
    padding: 60px 0;
    border-radius: 20px;
    margin-top: 150px;
}

.counter-box {
    width: 28%;
    text-align: center;
}

.counter-box p {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 0;
}

footer {
    text-align: center;
    background-color: #0B0D17;
    padding-top: 15px;
    padding-bottom: 70px;
    margin-top: 50px;
}

footer h3 {
    font-size: 28px;
}

footer p {
    color: #ffffff;
}